header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, #272626, #2D2D2D);
    position: fixed;
    height: 62px;
    width: 100%;
    align-items: center;
    padding: 10px 25%;
    box-shadow: 0px 0px 16px 0px #16161665;
    z-index: 2;
}

li, a, input{
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_links img{
    border-radius: 50%;
    width: 40px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.nav_links img:hover{
    transition: all 0.2s ease 0s;
    background-color: rgba(93, 93, 93, 20%)
}

.nav_links li{
    display: inline-block;
    padding: 0 10px;
}

.nav_links li a{
    transition: all 0.2s ease 0s;
}

.nav_links li a:hover{
    transition: all 0.2s ease 0s;
    background-color: rgba(93, 93, 93, 20%)
}

.spacer_for_header{
    padding-bottom: 62px;
}