.new_post {
  background: rgba(42, 42, 42, 0.3);
  border-style: solid;
  border-color: #414141;
  border-width: 1px;
  border-radius: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
  min-width: 575px;
}

.post_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.post_actions button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #534892;
  color: white;
  border: none;
  border-radius: 4px;
  width: 15%;
  height: 30px;
  transition: 0.2s;
  margin: 0 10px;
}
.post_actions button:hover {
  background: #6b5dbd;
  transition: 0.2s;
}
.post_actions .new_post_file_upload {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.post_actions .new_post_file_upload input[type=file] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.post_actions .new_post_file_upload label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #534892;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 15px 0;
  transition: 0.2s;
}
.post_actions .new_post_file_upload i {
  padding-left: 10px;
}
.post_actions .new_post_file_upload label:hover {
  background: #6b5dbd;
  transition: 0.2s;
}

.new_post .post_input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_post .post_input button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #534892;
  color: white;
  border: none;
  border-radius: 4px;
  width: 15%;
  height: 30px;
  transition: 0.2s;
  padding: 10px;
  margin: 0 10px;
}
.new_post .post_input button:hover {
  background: #6b5dbd;
  transition: 0.2s;
}

.new_post img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}

.new_post input[type=text] {
  background: rgba(42, 42, 42, 0);
  width: 100%;
  border: none;
}
