.search_dark input {
  background: #1f1f1f;
  padding: 10px 20%;
  border-radius: 6px;
  border: none;
  transition: 0.2s;
}

.search_dark input:hover {
  background: #1a1a1a;
  padding: 10px 20%;
  border-radius: 6px;
  border: none;
  transition: 0.2s;
}
