.view_post_container {
  width: 95%;
}
.view_post_container .view_post_main {
  width: 50%;
  transition: all 0.2s ease;
}
.view_post_container .view_post_main .post {
  padding: 10px;
  margin: 5px 0;
  border-radius: 12px;
  transition: 0.2s;
  background: #2b2a3073;
}
.view_post_container .view_post_main .post .post_header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view_post_container .view_post_main .post .post_header .post_header_details {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.view_post_container .view_post_main .post .post_header .post_header_details img {
  margin-bottom: 7px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view_post_container .view_post_main .post .post_header .post_header_details .name_date_desc {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}
.view_post_container .view_post_main .post .post_header .post_header_details .name_date_desc .name_date {
  display: flex;
  align-items: center;
}
.view_post_container .view_post_main .post .post_header .post_header_details .name_date_desc .name_date h3 {
  font-size: 14px;
  font-weight: 600;
}
.view_post_container .view_post_main .post .post_header .post_header_details .name_date_desc .name_date .separator {
  display: flex;
  align-items: center;
  color: #929292;
  margin: 0 5px;
}
.view_post_container .view_post_main .post .post_header .post_header_details .name_date_desc .name_date .separator i {
  font-size: 3px;
}
.view_post_container .view_post_main .post .post_header .post_header_details .name_date_desc .name_date .label {
  color: #929292;
  font-size: 11px;
}
.view_post_container .view_post_main .post .post_header .post_header_details .name_date_desc p {
  color: #c8c8c8;
  font-size: 14px;
  padding-bottom: 8px;
  font-weight: 400;
}
.view_post_container .view_post_main .post .post_header .post_dropdown {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}
.view_post_container .view_post_main .post .post_header .post_dropdown i {
  color: #c9c9c9;
}
.view_post_container .view_post_main .post .post_header .post_dropdown .post_dropdown_content {
  display: none;
  position: absolute;
  padding: 15px 0;
  width: 150px;
  right: 0;
  border-radius: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #26252c;
}
.view_post_container .view_post_main .post .post_header .post_dropdown .post_dropdown_content .post_dropdown_content_item {
  width: 100%;
}
.view_post_container .view_post_main .post .post_header .post_dropdown .post_dropdown_content .post_dropdown_content_item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background: none;
  border: none;
  color: white;
  transition: 0.2s ease;
}
.view_post_container .view_post_main .post .post_header .post_dropdown .post_dropdown_content .post_dropdown_content_item button i {
  padding: 0 10px;
}
.view_post_container .view_post_main .post .post_header .post_dropdown .post_dropdown_content .post_dropdown_content_item button:hover {
  transition: 0.2s ease;
  background: #35333d;
}
.view_post_container .view_post_main .post .post_header .post_dropdown:hover {
  transition: 0.2s ease;
  background-color: rgba(255, 255, 255, 0.164);
}
.view_post_container .view_post_main .post .post_header .post_dropdown:hover .post_dropdown_content {
  display: block;
}
.view_post_container .view_post_main .post .post_body {
  padding: 5px;
  width: 100%;
}
.view_post_container .view_post_main .post .post_body img {
  width: 100%;
  border-radius: 12px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.view_post_container .view_post_main .post .post_stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.repost button:hover {
  background-color: rgba(70, 255, 116, 0.1);
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.repost button:hover i {
  transition: 0.2s;
  color: #46ff74;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.like button:hover {
  background-color: rgba(255, 60, 102, 0.1);
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.like button:hover i {
  transition: 0.2s;
  color: #ff3c66;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.favorite button:hover {
  background-color: rgba(130, 77, 253, 0.1);
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.favorite button:hover i {
  transition: 0.2s;
  color: #824dfd;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item button {
  background: #ffffff00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item button i {
  color: white;
  font-size: 15px;
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item button:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.164);
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.active.repost {
  color: #46ff74;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.active.repost i {
  color: #46ff74;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.active.like {
  color: #ff3c66;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.active.like i {
  color: #ff3c66;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.active.favorite {
  color: #824dfd;
}
.view_post_container .view_post_main .post .post_stats .post_stats_item.active.favorite i {
  color: #824dfd;
}
.view_post_container .view_post_main .post .post_add_comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_left {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_left img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_left input {
  margin-left: 10px;
  background: none;
  border: none;
  height: 40px;
  width: 85%;
  transition: 0.2s;
  border-radius: 12px;
  padding-left: 5px;
  color: white;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_left input:hover {
  background: #2b2a30af;
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_left input:focus {
  background: #2b2a3073;
  outline: none;
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_inputs {
  width: 30%;
  min-width: 120px;
  display: flex;
  margin-right: 15px;
  justify-content: flex-end;
  align-items: center;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_inputs label {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_inputs label i {
  color: white;
  z-index: 2;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_inputs label:hover {
  transition: 0.2s;
  color: white;
  background-color: rgba(255, 255, 255, 0.164);
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_inputs input {
  opacity: 0;
  display: none;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_inputs button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #534892;
  color: white;
  border: none;
  border-radius: 6px;
  width: 60%;
  min-width: 80px;
  height: 30px;
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_add_comment .post_add_comment_inputs button:hover {
  background: #6b5dbd;
  transition: 0.2s;
}
.view_post_container .view_post_main .post .post_spacing {
  margin: 5px auto;
  width: 95%;
  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0.164);
  border-width: 1px;
}
.view_post_container .view_post_main .post:hover {
  background: #37363d73;
  transition: 0.2s;
}

@media screen and (max-width: 1100px) {
  .view_post_container {
    width: 95%;
  }
  .view_post_container .view_post_main {
    width: 100%;
    transition: all 0.2s ease;
  }
  .view_post_container .view_post_side {
    display: none;
  }
}
